body{
  width-min: 100%;
}
nav{
  display: flex;
  width: 100%;
}

nav img{
  margin: 20px;
  padding: 20px;;
}

nav p{
  margin: 20px;
  padding: 20px;;
  font-size:40px;
}

h1{
  width: 95%;
  font-size: 38px;
  padding-left: 2%;
}


content{
  display: flex;
  width: 100%;
}

content div{
  flex: auto;
  display: flex;
  min-width: 25%;
}

content div p{
  min-width: 25%;
  margin: 25%;
  padding-top: 1%;

}

@media screen and (min-width: 1540px) {
  content div p{
    font-size: 100%;
  }
}

@media screen and (max-width: 1540px) {
  content div p{
    font-size: 75%;
  }
}

@media screen and (max-width: 1150px) {
  content div p{
    font-size: 50%;
  }
}

@media screen and (max-width: 775px) {
  content div p{
    font-size: 25%;
  }
}

content div p:first-child{
  height: 15%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.todo{
  background-color: red;
}

.inprogress{
  background-color: orange;
}

.done{
  background-color: green;
}
